
.ok{
    display: flex;
    justify-content: center;
    align-items: center;

}
.tof{
border: 1px solid black;
border-radius: 10%;
margin: 10px;
width: 300px;
height: 400px;

}
.tof img{
   width: 100%;
   height: 75%;
   border-radius: 10% 10% 0% 0% ;
}
.tof p{
    text-align: center;
}
.bu{
    text-align: center;
    margin-top: 10px; 
}
.bu button{
    border: none;
    padding: 10px;
    background-color:red;
    border-radius: 15px;
    color: white;
}
nav{
    position: fixed;
}
.h2 {
    text-align: center;
    font-size: 30px;
    
}
span{
        color: blue;
}